html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    background-color: #f9b9b4 !important;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 200px;
}

.page-container {
    background-color: #fde5e3;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.home-content {
    margin-top: 50px;
    text-align: left;
    padding: 20px;
}

/* nav bar */
.custom-blood-nav {
    background-color: #232122 !important;
}

.navbar-brand {
    color: #FFF1FA;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding-left: 20px;
}


.navbar-nav .nav-link.button-login,
.navbar-nav .nav-link.button-register {
    color: #FFF1FA !important;
    border-radius: 12px;
    text-align: center;
    width: 90px;
    padding: 8px 10px;
    display: inline-block;
    margin: 0 5px;
}



.navbar-nav .nav-link {
    color: #FFF1FA !important;
}

/* buttons */

.btn-primary {
    background-color: #232122;
    border-color: #4a90e2;
    color: #FFF1FA;
}

.button-login {
    background-color: #E9444E;
}

.button-register {
    background-color: #0A0A0A;
}

/* tables */

.table {
    width: calc(100% - 40px) !important; 
    margin-left: auto !important; 
    margin-right: auto !important;
    margin-bottom: 1rem;
    color: #212529;
    border-color: #232122;
}

.table-striped {
    --bs-table-striped-bg: #fea996;
    --bs-table-accent-bg: #fde5e3;
}

.table-header {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 20px !important;
}

.btn-create {
    display: flex;
    justify-content: end;
    margin: 20px;
}

/* details page */



/* edit page */

.edit-header {
    margin-left: 40px !important;
    padding: 10px;
}

.control-label {
    padding: 5px;
}


.form-group {
    margin-left: 40px !important;
    padding: 10px;
}

/* footer */

footer {
    background-color: #232122;
    position: relative !important;
    clear: both !important;
    margin-top: 50px !important;
    text-align: left;
}

.footer-head {
    color: #FFF1FA !important;
    text-align: left;
}

.footer-text {
    color: #FFF1FA !important;
    text-align: left;
}