html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.home-content {
    margin-top: 50px; /* Gives space from the nav bar */
    text-align: left; /* Ensures text is left-aligned */
    padding: 20px; /* Internal padding for the content */
}

    /* Optional: Make the heading look a bit punchier */
    .home-content h1 {
        font-weight: bold;
        color: #b30000; /* A blood-red accent color fits your project! */
    }


/* nav bar */
.custom-blood-nav {
    background-color: #6B1D1D !important;
}

    .custom-blood-nav .nav-link,
    .custom-blood-nav .navbar-brand {
        color: #ffffff !important;
    }

        .custom-blood-nav .nav-link:hover {
            color: #f8f9fa !important;
            opacity: 0.8;
        }